.car-remove-button{
    border: none;
    background-color: white;
}
.Start{
    border: 1px solid green;
    background-color: green;
    color: white;
    padding: 10px;
}
.Stopped{
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 10px;
}
.car-accelerate-button{
    border: 1px solid skyblue;
    background-color: white;
    color: skyblue;
    padding: 10px;
}
.car-break-button{
    border: 1px solid red;
    background-color: white;
    color: red;
    padding: 10px;
}
.car-accelerate-button:hover{
    background-color: royalblue;
    color: white;
}
.car-break-button:hover{
    background-color: red;
    color: white;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*margin-left: 20px;
    margin-right: 20px;*/
}
.car{
    width: 75%;
    margin: 50px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
}
.speed-buttons{
    display: flex;
    justify-content: space-between;
}

.add-car-button{
    border: 1px solid royalblue;
    background-color: royalblue;
    color: white;
    padding: 10px;
}
.car-body{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}